<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="accessKeyId" value="*****"/>
		<add key="secretAccessKey" value="*****"/>
		<add key="syncfusionLicenseKey" value="*****"/>
		<add key="TableName" value="Bookshelf" />
		<add key="BucketName" value="bucket4lab2-wenjie" />
	</appSettings>
</configuration>